a[href="https://ko-fi.com/tweetgen"] {
    display: none; /* Hiding link to ko-fi until it's fully set up */
}

body {
    margin-bottom: 10px;
}

body, .ui, .tooltip {
    font-family: "Inter", "Helvetica Neue", system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
}

@supports (font-variation-settings: normal) {
    body, .ui, .tooltip {
        font-family: "Inter (var)", "Helvetica Neue", system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
    }
}

.btn-link, .btn-link:focus {
    text-decoration: none;
    outline: none;
    border: none;
    box-shadow: none;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover, .btn-link:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
}


.errorbanner {
    margin: 0;
    padding: 0.75rem;
    background-color: #dc3545;
    color: #ffffff;
    font-size: 1rem;
}

.errorbanner svg {
    display: inline-block;
    height: 2em;
    margin-right: 0.5em;
}

.errorbanner p {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}


/*
------------
Navbar css
*/

.navbar {
    font-size: 1.5rem;
    background-color: transparent;
    font-weight: bold;
}

.mainnav {
    border: 2px solid #c4cfd6;
    border-radius: 6px;
}

@media (min-width: 992px) {
    .navbar{
        font-size: 2rem;
    }

    .mainnav {
        display: flex;
        justify-content: space-between;
        border: none;
    }

    .nav-links {
        min-width: 50vw;
        justify-content: space-evenly;
    }

    .nav-links .nav-item {
        margin-right: 0.75em;
    }

    .nav-media {
        justify-content: flex-end;
    }
}

.dropdown-item {
    font-weight: bold;
}

svg.media-icon {
    height: 0.8em;
    vertical-align: middle;
    fill: currentColor;
}

.smaller-nav-item {
    font-size: 0.8em;
}